/*Baner por facultad*/

.banner-fac {
    margin: 0;
    padding: 0;
}

.banner-facultad img {
    width: 100%;
}

/*libros*/

.all-books {
    display: block;
}

.all-books div {
    padding: 2%;
}

.all-books ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-categoria {
    text-align: center;
    border-bottom: solid 2px #124622;
    padding-bottom: 20px;
}

.books {
    width: 300px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--background-gris);
    border-radius: 20px;
}


.books:hover {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em var(--background-lila, 0.1);
}

#books-derecho:hover {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em var(--color-f-derecho, 0.1);
}

#books-educacion:hover {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em var(--color-f-educacion, 0.1);
}

#books-arquitectura:hover {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em var(--color-f-arquitectura, 0.1);
}

#books-economia:hover {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em var(--color-f-arquitectura, 0.1);
}

.books img {
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.books-details {
    width: 90%;
}


.books-details h2 {
    font-size: 18px;
    color: var(--background-negro);
    font-family: var(--letra);
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.books-details h2:hover {
    transition: 0.8s;
    display: block;
}


.books-details h3 {
    font-size: 16px;
    color: var(--background-negro);
    font-family: var(--letra);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.books-details h3:hover {
    transition: 0.8s;
    display: block;
}

.books-details p {
    font-size: 15px;
    color: var(--background-negro);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}

.books-details p:hover {
    transition: 1s;
    display: block;
}

.button-acceso {
    text-decoration: none;
    list-style-type: none;
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--background-negro);
    border-radius: 5px;
    font-size: 12px;
    margin-top: 25px;
}

.button-acceso:hover {
    background-color: var(--background-lila);
}

#button-acceso-derecho:hover {
    background-color: var(--color-f-derecho);
}

#button-acceso-educacion:hover {
    background-color: var(--color-f-educacion);
}

#button-acceso-arquitectura:hover {
    background-color: var(--color-f-arquitectura);
}

#button-acceso-economia:hover {
    background-color: var(--color-f-economia);
}


@keyframes aparecer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.all-books[data-novedades] {
    animation: aparecer 1.5s ease-out;
}




@media screen and (max-width: 530px) {
    .all-books {
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all-books div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 230px;
        height: 100%;
    }

    .books-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .books-details h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        font-size: 12px;
        margin: 0 20px;
    }

    .button-acceso {
        font-size: 12px;
        margin: 20px;
    }
}


@media screen and (max-width: 400px) {

    .books-details h2 {
        font-size: 14px;
        margin-top: 10px;
    }

    .books-details h3 {
        font-size: 14px;
    }

    .books-details p {
        display: none;
    }

    .button-acceso {
        font-size: 8px;
    }
}