<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resert.css">
    <link rel="stylesheet" href="../css/colores.css">
    <link rel="stylesheet" href="../css/01_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/Escudo_acolor.png" type="image/x-icon">
    <title>Logos</title>
</head>

<body>
    <header>
        <div class="logos-dep" id="logos-dep_1">
            <a href="https://www.ugc.edu.co/biblioteca/">
                <img src="../img/logo-docencia.jpg" alt="Departamento Docencia Universitaria">
            </a>
        </div>
    </header>
</body>